@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import "header.css";
@import "main.css";
@import "footer.css";

html,
body {
  height: 100%;
}

body {
  background: #181719;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
p,
span {
  margin: 0;
}

h1,
h2 {
  font-family: "Lora", serif;
}

h1 {
  font-weight: normal;
  font-size: 48px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

p {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.selected-text {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}
